$red: #bf1b2c;
$black: #202227;
$yellow: #f9c123;
$grey2: #6c6c6c;
$grey6: #b1b1b1;
$grey3: #d8d8d8;
$light-grey: #ebebeb;
$milk: #f5f5f5;

$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-width: 375px;
